/.nyc_output
/.vscode/ipch/*
/bin/darwin*
/bin/linux*
/coverage/
/docs/
/lib/*
/node_modules/
/pkg/*
/src/**/*.o
/src/**/*.ir
/src/examples/**/*.c
/src/examples/**/*.h
/src/strconv/*.c
/src/strconv/*.h
/src/testme/testme
/test/tests/*
!/test/tests/.gitkeep
tmp.*
npm-debug.log
vgcore.*
