node_modules
tmp.*
old
out
examples/*.wasm
examples/*.wast
examples/*.wat
examples/*.c
tmp/*
measurements/**/*.wasm
measurements/**/*.wast
measurements/**/*.wat
measurements/**/*.c
measurements/mandel_go/mandelbrot
measurements/rect_go/rect
measurements/call_go/call
playground

