.vscode/ipch/*
node_modules
tmp.*
old
out
examples/*.wasm
examples/*.wast
examples/*.wat
examples/codegen*.c
examples/*.o
examples/*.c
examples/*.h
examples/codegen
tmp/*
measurements/**/*.wasm
measurements/**/*.wast
measurements/**/*.wat
measurements/**/*.c
measurements/mandel_go/mandelbrot
measurements/rect_go/rect
measurements/call_go/call
playground
backup
pkg/*
src/**/*.o
src/**/*.ir
src/examples/**/*.c
src/examples/**/*.h
src/strconv/*.c
src/strconv/*.h
src/testme/testme
bin/darwin*
bin/linux*
.nyc_output
/coverage/
/compiler/**/*.js
/test/tests/*
!/test/tests/.gitkeep

