/.nyc_output/
/.vscode/*
/bin/darwin*
/bin/linux*
/compiler/
/debian/
/dev/
/docs/
/pkg/
/rpm/
/src/*
!/src/runtime/
/test/
.editorconfig
.gitignore
.travis.yml
API.md
Makefile
npm-debug.log
tmp.*
tsconfig.json
vgcore.*
*.d.ts
*.map
