Source: fyrlang
Section: devel
Priority: optional
Maintainer: Oskar Carl <oskar.carl@uni-due.de>
Build-Depends: nodejs, npm
Standards-Version: 4.1.3
Homepage: http://fyr.vs.uni-due.de
Vcs-Browser: https://github.com/vs-ude/fyr
Vcs-Git: https://github.com/vs-ude/fyr.git

Package: fyrlang
Architecture: any
Depends: nodejs, gcc
Description: Modern systems programming language.
 Fyr is a modern systems programming language that combines the versatility of C with the ease and safety of application programming languages like Java, Go or TypeScript.
 Like C/C++, Fyr can be used for low-level hardware-oriented programming and high-level application programming. In contrast to C, the Fyr compiler guarantees memory safety and thread safety at compilation time.
